<body style="height:100%;width: 100%;background-color: #3399ff;color:white;padding-top: 50px">
  <div class="" style="width: 38%;margin-top: 100px;color: #404040;margin:auto;padding:10px 10px 10px 10px;background-color:#d9d9d9">
     <div class="" style="width: 100%;margin: auto">
       <h3 style="text-align: center">Update Employee Data</h3>
     </div>
     <%= form_for @employee_table do |employee_table| %>
     <%@employee_detail = EmployeeDetail.find_by_employee_table_id(@employee_table.id)%>
      <% @emp_location = EmpLocation.find_by_employee_table_id(@employee_table.id) %>
     <div class=""style="display: flex;justity: space-around">
       <div class="">
         Email:<br/>
        <%= employee_table.text_field :email %><br/>
       </div>
       <div class="">
         FirstName:<br/>
        <%=  employee_table.text_field :first_name %><br/>
       </div>
     </div>
     <div class=""style="display: flex;justity: space-around">
       <div class="">
         LastName <%= employee_table.text_field :last_name %><br/>
       </div>
       <div class="">
         Gender:<br/>
          <input name="gender" value ="<%=@employee_detail.gender%>"/>
       </div>
     </div>
     <div class=""style="display: flex;justity: space-around">
       <div class="">
         DOB:<br/>
         <input type="text" name="dob" value="<%=@employee_detail.dob%>"/>
       </div>
       <div class="">
         Mobile Number:<br/>
        <input type="text" name="contact_number" value="<%=@employee_detail.contact_number%>"/>
       </div>
     </div>
     <div class=""style="display: flex;justity: space-around">
       <div class="">
         Current City:<br/>
          <input type="text" name="current_city" value="<%= @emp_location.current_city %>">
       </div>
       <div class="">
         Country:<br/>
          <input type="text" name="country" value="<%= @emp_location.country %>">
       </div>
     </div>

   PinCode:<br/>
    <input type="text" name="pincode" value="<%= @emp_location.pincode%>">
   <%= employee_table.submit %>
   <% end %>
  </div>
  </body>
